
PokemonApp/packages/System.Threading.Tasks.Extensions.4.3.0/ThirdPartyNotices.txt
PokemonApp/packages/System.Threading.Tasks.Extensions.4.3.0/dotnet_library_license.txt
PokemonApp/packages/NUnit.3.5.0/NOTICES.txt
PokemonApp/packages/NUnit.3.5.0/LICENSE.txt
PokemonApp/packages/NUnit.3.5.0/CHANGES.txt
PokemonApp/packages/Castle.Core.5.0.0/readme.txt
PokemonApp/packages/Castle.Core.5.0.0/LICENSE
PokemonApp/packages/Castle.Core.5.0.0/CHANGELOG.md
PokemonApp/PokemonApp/bin/Debug/PokemonApp.dll
PokemonApp/PokemonApp/bin/Debug/PokemonApp.pdb
PokemonApp/PokemonApp/obj/Debug/PokemonApp.dll
PokemonApp/PokemonApp/obj/Debug/PokemonApp.pdb
PokemonApp/PokemonAppTests/bin/Debug/PokemonApp.dll
PokemonApp/PokemonAppTests/bin/Debug/PokemonApp.pdb
PokemonApp/PokemonAppTests/bin/Debug/PokemonAppTests.dll
PokemonApp/PokemonAppTests/bin/Debug/PokemonAppTests.pdb
PokemonApp/PokemonAppTests/bin/Debug/UnityEngine.dll
PokemonApp/PokemonAppTests/bin/Debug/UnityEngine.xml
PokemonApp/PokemonAppTests/obj/Debug/PokemonAppTests.csproj.AssemblyReference.cache
PokemonApp/PokemonAppTests/obj/Debug/PokemonAppTests.csproj.FileListAbsolute.txt
PokemonApp/PokemonAppTests/obj/Debug/PokemonAppTests.dll
PokemonApp/PokemonAppTests/obj/Debug/PokemonAppTests.pdb
U.SearchingAndCaching/Assets/Resources/DOTweenSettings.asset
